.env
/files/general/*
/files/profile_images/*
/files/project_files/*
/files/temp/*
/files/timeline_files/*
/writable/*/*

!index.html
!.htaccess
!.gitkeep
files/system/_file6491f5b1f03bb-site-logo.png