/*Write your custom css in this file.*/
.fade:not(.show) {
    opacity: 0;
    display: none;
}


.service-brand {
    inset: 0px;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 3rem;
    max-height: 3rem;
}

.service-thumbnail {
    height: 5.5rem;
    width: 4.25rem;
    display: block;
    transition: all 0.5s ease 0s;
}